.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.debug.*
.metadata/.plugins/org.eclipse.e4.*
.metadata/.plugins/org.eclipse.egit.*
.metadata/.plugins/org.eclipse.equinox.*
.metadata/.plugins/org.eclipse.jdt.*
.metadata/.plugins/org.eclipse.pde.*
.metadata/.plugins/org.eclipse.search.*
.metadata/.plugins/org.eclipse.ui.*
.metadata/.plugins/org.eclipse.wst.*
.metadata/.plugins/org.scala-ide.*